APP_DOMAIN=amazing.finance
APP_ALCHEMY_ID=amazing.alchemyid
NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET= # Linux: `openssl rand -hex 32` or go to https://generate-secret.now.sh/32
APP_ROONIVERSE_ADDRESS=0x4798d36D453A83BfBc05d2841bAc19ef276B2D05
APP_THEHARVEST_ADDRESS=0xdAe9226f803CE769a6A5971F7fEA50BeB678bF29
APP_USDCOIN_ADDRESS=0xa0b86991c6218b36c1d19d4a2e9eb0ce3606eb48
